body{
    margin: 0;
    padding: 0;
}

nav{
    height: 200px;
    width: 50px;
    background-color: blueviolet;
    display: inline;
}

nav a{
    background-color: red;
    height: 150px;
}

main{
    height: 200px;
    background-color: coral;
}

footer{
    height: 200px;
    background-color: aqua;
}