header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: aqua;
}

#logo{
    background-color: red;
    display: list-item;
}

nav{
    height: 40px;
    width: 50px;
    background-color: blueviolet;
    display: block;
}